{% extends 'main/base.html' %}
 {% block content %}
 <div class="p-3">
    {% for author in authors %}
    <h1 >Author Name : {{author.name}}</h1>
    <h3 class="m-2 text-center">Articles Written</h3>
    <ul>
            {% for article in author.article_set.all %}
          <li> <a href="{% url 'get_article' article.pk %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{article}}</h5>
            </div>
          </a>
        </li>
          {% endfor %}
          </ul>
      {% endfor %}
    </div>
 {% endblock %}