{% extends 'main/base.html' %}
{% block content %}
<div class="container">
<form method="POST" action="submit_article">
     {% csrf_token %}
        <div class="form-group">
          <label for="Input1">Article Title</label>
          <input type="text" class="form-control" id="Input1" placeholder="Title" name='title'>
        </div>
        <div class="form-group">
          <label for="Select2">Select Author</label>
          <select multiple class="form-control" id="Select2" name="author">
                {% for author in authors %}
                <option value="{{author.id}}" >{{author.name}}</option>
                {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="Textarea1">Content</label>
          <textarea class="form-control" id="Textarea1" rows="6" name='content'></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-warning">Reset</button>
      </form>
    </div>
{% endblock %}