<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
   <h1>Welcome Your Text Analyser.Enter Your text below</h1> 
   <form action="/analyze" method='GET'>
    <textarea name='text' style="margin: 0px; height: 124px; width: 1347px;"> </textarea>
    <input name='removepunc' type='checkbox' >Remove Punctuation </input>
    <input name='capitalizefirst' type='checkbox' >Capitalize First </input>
    <input name='newlineremover' type='checkbox' >Remove Newline </input>
    <button type="submit">Analyze Text</button>
   </form>
</body>
</html>