{% extends 'main/base.html' %}
{% block content %}
{% include 'main/navbar.html' %}
<h1 class="center-align">Projects</h1>
<div class="container">
<ul class="collapsible">
    {% for id,name,desc in PROJECTS %}
        <li>
          <div class="collapsible-header"><i class="material-icons">{{id}}</i>{{name}}</div>
          <div class="collapsible-body"><span>{{desc}}</span></div>
        </li>
       {% endfor %}
      </ul>
    </div>      
{% endblock %}
{% block script %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });
</script>
{% endblock %}